@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



/* Ensure the header container is positioned properly */
.header {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  ;

}

/* Style the video to fill the container */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navbar styling */
.navbar {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: flex-end ;
  
  /* padding: 0 20px; */
  z-index: 10;
}


/* From Uiverse.io by dpaulos6 */ 
.c-button {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid rgba(255, 255, 255, 0);
  position: relative;
  transition: all 700ms ease;
  border-radius: 999px;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
  border-radius: 20px;
}

.c-button--gooey .c-button__blobs div {
  background-color: #ffffff;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #000000;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

.c-button i {
  margin-right: 8px;
  font-size: 1rem; /* Adjust size as needed */
}

/* exit */


/* footer */

/* Reset styles */
.footer-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer-container {
    max-width: 1170px;
    margin: auto;
  }
  
  .footer-container .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-container ul {
    list-style: none;
  }
  
  .footer {
    background-color: #000000;
    padding: 70px 0;
  }
  
  .footer .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
  }
  
  .footer .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /* Responsive styles */
  @media (max-width: 767px) {
    .footer .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer .footer-col {
      width: 100%;
    }
  }
  
  
  /* footer end */

/* footer exit */